/* Кольорові змінні */
:root {
  --primary-color: #0a66c2;
  --secondary-color: #8c9091;
  /* Світла тема */
  --light-bg: #fff;
  --light-text: #000;
  --light-nav: #fff;
  --light-main: #fff;
  --light-select: #000;
  --light-result: #000;
  /* Темна тема */
  --dark-bg: #171717;
  --dark-text: #f5f5f5;
  --dark-nav: #000000;
  --dark-main: #252525;
  --dark-select: #f5f5f5;
  --dark-result: #ffffff;
}

/* Загальні стилі */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: var(--bg);
  color: var(--text);
}

#calculator {
  display: block;
}

#convertor,
#guide {
  display: none;
}

/* Шапка */
#navbar {
  background-color: #ffffff;
}

.header {
  background-color: var(--nav);
  box-shadow: 8, 8, 8, #000000;
  padding: 1%;
}

/* Навігація */
.navbar {
  padding: 1%;
}

.navbar-brand-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform 0.5s ease;
}

.navbar-brand-container:hover {
  transform: scale(1.1);
}

.navbar-logo {
  width: 30px;
  height: 30px;
}

.navbar-brand {
  margin-left: 10px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #171717;
  transition: color 0.2s ease;
}

.nav-item .active {
  color: #000000;
  transform: scale(1.1);
  font-weight: bolder;
  transition: transform 0.2s ease, font-weight 0.2s ease;
}

.nav-link:hover {
  color: #000000;
}

.nav-link:active {
  color: #171717;
}

.nav-link:focus {
  color: #000000;
}

.nav-item .active {
  color: #000000;
  transform: scale(1.1);
  font-weight: bolder;
  transition: transform 0.2s ease, font-weight 0.2s ease;
}

.dark-theme .nav-link {
  color: #f5f5f5;
  transition: color 0.2s ease;
}

.dark-theme .nav-link .active {
  color: #ffffff;
  transform: scale(1.1);
  font-weight: bolder;
  transition: transform 0.2s ease, font-weight 0.2s ease;
}

.dark-theme .nav-link:hover {
  color: #ffffff;
}

.dark-theme .nav-link:active {
  color: #f5f5f5;
}

.dark-theme .nav-link:focus {
  color: #ffffff;
}

.dark-theme .nav-item .active {
  color: #ffffff;
  transform: scale(1.1);
  font-weight: bolder;
  transition: transform 0.2s ease, font-weight 0.2s ease;
}

/* Кнопка зміни теми */
.theme-button {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.theme-button span {
  margin-right: 8px;
}

.theme-button img {
  height: 30px;
  transition: opacity 0.5s ease;
}

.theme-button img.hidden {
  opacity: 0;
}

/* Калькулятор */
.tool-container {
  padding: 5%;
  min-height: 80vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--main);
}

.tool-header {
  font-size: 2rem;
}

.input {
  height: 100%;
  width: 100%;
}

/* Кнопка обчислення */
.btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn button {
  font-size: 2rem;
  height: 25%;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  min-height: 40px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn button:hover {
  background-color: #16437e;
}

.btn button:active {
  background: #09223b;
  color: rgba(255, 255, 255, 0.7);
}

.btn button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

/* Блок результату */
.output {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: var(--result);
}

/* Стрілка для конвертора */
.arrow-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-container img {
  cursor: pointer;
  width: 25%;
  border-radius: 100%;
  transition: transform 0.3s ease;
}

.arrow-container img:hover {
  transform: scale(1.2);
}

/* Власний alert */
.custom-alert-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-alert {
  min-width: 25%;
  min-height: 25%;
  padding: 2.5%;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #33333333;
}

.custom-alert h2 {
  text-align: center;
}

.custom-alert button {
  font-size: 1.5rem;
  width: 50%;
  height: 15%;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  min-height: 40px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Анімація лого */
.rotate-animation {
  animation: rotate 1s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Анімація стрілки конвертації */
.change-animation {
  animation: rotateArrow 1s ease-in-out;
}

@keyframes rotateArrow {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Медіа запити */
@media screen and (max-width: 990px) {
  .arrow-container {
    rotate: 90deg;
  }
}

/* Теми */
.light-theme {
  --bg: var(--light-bg);
  --text: var(--light-text);
  --nav: var(--light-nav);
  --main: var(--light-main);
  --select: var(--light-select);
  --result: var(--light-result);
}

.dark-theme {
  --bg: var(--dark-bg);
  --text: var(--dark-text);
  --nav: var(--dark-nav);
  --main: var(--dark-main);
  --select: var(--dark-select);
  --result: var(--dark-result);
}